.container-1,.container-3,.container-5{
    border: 1px solid black;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.flex-box-container-1,.flex-box-container-2,.flex-box-rps,.flex-box-pick-color,.flex-b-row-1,.flex-b-row-2,.flex-b-row-3
{
    display: flex;
    border: 1px solid black;
    
    padding:10px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}
.flex-b-row-1 div{
    border: 1px solid black;
    padding:10px;
    align-items: center;
    height: 350px;
    flex:1
}
.flex-b-row-1 img{
    width: 25%;
    padding:10px;
}
.flex-b-row-2 div{
    border: 1px solid black;
}
.flex-b-row-2 button{
    border: 1px solid black;
    padding: 10px;
}

.flex-b-row-3 table th,td {
    border: 1px solid black;
    padding: 5px;
   
}
.flex-b-row-1,.flex-b-row-2{
    background: url('file:///D:\images.jpg')
}

.flex-box-container-1 div{
    border: 1px solid black;

    padding: 10px;
    display: flex;
    align-items: center;
}
.container-2,.container-4,.container-5{
    border :1px solid black;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.flex-box-container-2 img{
    padding: 10px;
    border: 1 px solid green;
    box-shadow: 0px 10px 50px rgba( 0,0,0,0.7);


}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

